---
layout: default
---

<header>
	<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>	
	<div class="dashed"></div>
<h1 class="post-title">Blog</h1>
</header>

{% if site.posts.size > 0 %}
	<ul>
		{% for post in site.posts %}
				<li class="post-list-item">
					<span class="home-date">
						{{ post.date | date: site.theme_config.date_format }}»
					</span>
					<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
				</li>
		{% endfor %}
	</ul>
{% endif %}


